#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.breadcrumb .breadcrumb-item a {
  text-decoration: none !important;
  color: inherit !important;
}

.breadcrumb .breadcrumb-item a:hover {
  text-decoration: none !important;
}




.user-card {
  border-radius: 15px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.user-card.active {
  background: linear-gradient(135deg, #229C47, #1A7F37);
  color: white;
  border: 1px solid #1A7F37;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  color: #444;
}

.user-card.active .user-info {
  color: white;
}

.quantity {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

.user-card.active .quantity {
  color: white;
}


